body {
  background-color: #489ef8;
  margin-left: 15vw;
  margin-right: 15vw;
}
.App {
  margin-top: 20%;
  text-align: center;
  background-color: #afd6ff;
  padding-bottom: 1%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#app-title {
  margin-bottom: 20%;
  font-family: "Sunshiney", cursive;
  font-size: 10vh;
}

#search {
  display: grid;
  justify-items: center;
}

input {
  width: 20vw;
  height: 3vh;
  border-width: 15%;
  border-color: black;
  text-align: center;
  font-size: 100%;
}

button {
  margin-top: 1%;
  height: 4vh;
  border-width: 14%;
}

hr {
  height: 1vh;
  background-color: #489ef8;
  border: none;
}

img {
  height: 10vh;
  max-width: auto;
}
